<mat-dialog-content>
	<p mat-dialog-title>{{dialogTitle}}</p>
	
	<mat-form-field>
		<mat-label>Name*</mat-label>
		<input
            #inputTitle
			(keydown.enter)="onConfirm()"
			[(ngModel)]="tmpTitle"
			matInput>
		<button
				(click)="tmpTitle=''"
				*ngIf="tmpTitle.trim().length > 0" class="size25"
				mat-button matSuffix mat-icon-button aria-label="Clear">
			<mat-icon>clear</mat-icon>
		</button>
	</mat-form-field>
	
	<mat-form-field>
		<mat-label>Category</mat-label>
		<mat-select [(ngModel)]="tmpCategory">
			<mat-option [value]="null">None</mat-option>
			<mat-option *ngFor="let category of categories" [value]="category">
				{{category.title}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field>
		<mat-label>Priority</mat-label>
		<mat-select [(ngModel)]="tmpPriority">
			<mat-option [value]="null">None</mat-option>
			<mat-option *ngFor="let priority of priorities" [value]="priority">
				{{priority.title}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<div class="col-md-5 col-12">
		<button
				(click)="onConfirm()" [disabled]="inputTitle.value.trim().length == 0"
				color="primary"
				mat-raised-button>
			Save
		</button>
		<button (click)="onCancel()" mat-raised-button>Cancel</button>
	</div>
	<div class="col-md-7 col-12 text-right">
		<button (click)="complete()" *ngIf="!task.completed" mat-button class="green">Complete task</button>
		<button (click)="activate()" *ngIf="task.completed" mat-button class="green">Activate task</button>
		<button (click)="delete()" mat-button class="red">Delete task</button>
	</div>
</mat-dialog-actions>
