<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
	<div class="logo">
		<a href="http://www.creative-tim.com" class="simple-text logo-normal">
			Creative Tim
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li (click)="showTasksByCategory(null)" [class.active]="selectedCategory === null">
				<a class="nav-link pointer">
					<span class="all-category-title">All</span>
				</a>
			</li>
			<div class="line"></div>
			<li *ngFor="let category of categories" (click)="showTasksByCategory(category)" class="nav-item pointer"
			    [class.active]="selectedCategory === category">
				<a class="nav-link">
					<p>{{category.title}}</p>
				</a>
			</li>
		</ul>
	</div>
</div>

